* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 200px 30px 30px 30px;
    text-shadow: 2px 2px darkgrey;
    text-align: center;
    margin-bottom: 0;
    font-weight: 1000;
    color: whitesmoke;
}

.hero {
    background-image: url('../src/images/background.jpg');
    background-size:cover;
}

main {
    width: 95%;
    margin: auto;
}

